:root {
  --primary-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}

.main-btn {
  background-color: var(--red-color) !important;
  color: var(--yellow-color) !important;
  padding: 0.5rem 1rem;
}
.main-title::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background: var(--green-color);
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}
body {
  font-family: "Roboto", sans-serif;
}
/* Start Nav */
.navbar {
  background-color: var(--primary-color);
}
.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}
.navbar .search {
  color: var(--green-color);
  border-left: 1px solid var(--green-color);
}
.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
/* End NavBar */
/* Start Landing */
.landing {
  background: var(--primary-color);
  min-height: calc(100vh - 60px);
}
.landing h1 {
  font-size: 3.125rem;
}

/* End Landing */
/* Start Features */
.features .icon-holder {
  height: 200px;
}
.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}
.features .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
}
.features .icon-holder .icon {
  color: var(--green-color);
  position: absolute;
  bottom: 10px;
}
.features .feat h4 {
  color: var(--yellow-color);
}
/* End Features */
/* Our Works */
.our-works {
  background: var(--section-color);
}
.our-works ul .active {
  background: var(--red-color);
  color: var(--yellow-color);
}
.our-works ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-works ul li:not(.active):hover {
  color: var(--red-color);
}
.our-works .box {
  position: relative;
  padding: 5px;
  overflow: hidden;
}
.our-works .box::before {
  content: attr(data-work);
  position: absolute;
  color: var(--section-color);
  background: var(--green-color);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transition: 0.3s;
  transform: translateX(calc(-100% - 10px));
}
.our-works .box:hover::before {
  transform: translateX(0);
}
/* End Our Works */
/* Stuff Section */
.stuff .container .para {
  width: 450px;
}
/* Stuff Section */
/* start team section */
.team {
  background: var(--section-color);
}
.team h2 {
  color: var(--yellow-color);
}
.team .box h4 {
  background: var(--green-color);
  color: var(--section-color);
}
/* end team section */
.project {
  background: var(--primary-color) ;
}
.project h2 {
  color: var(--section-color);
}